/*            Re-usable Styling                        */

.textAlignCenter {
    text-align: center;
}

/*            Center 2 Divs                       */

.container{
    display: flex;
    margin: 0;
}

.fixed{
    width: 200px;
}
.flex-item{
    flex-grow: 1;
}

.heading-centre {
    text-align: center;
}

/*            Welcome Section Styling                        */ 

#welcome {
    padding: 5%;
    width: 50%;
    padding: 50% 5% 50% 5%;
}

#welcome, h1, h2{
    font-family: "Dawning of a New Day", cursive;
    font-weight: 400;
    font-style: normal;
}

.welcomeText {
    color: rgb(248, 249, 250);
    text-align: center;
    padding: 50% 5% 50% 5%;
}

#welcome-container{
    margin: 0; 
    padding: 0;
    max-width: 100%;
    background: rgb(0, 49, 35);
}

.welcome-image {
    width: 100%;
    margin: 0%;
    padding: 0%;
    height: 900px;
    object-fit: cover;
}

.welcome-msg {
    width: 100%;
    margin: 0%;
    padding: 0%;
    height: 700px;
    object-fit: cover;
}

/*            Garland Divider Styling                       */ 

#garland {
    padding: 3%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/*                     Footer Styling                       */ 

#footer {
    background: rgb(0, 49, 35);
    color: rgb(255, 255, 255);

}

.footer-div, h4 {
    height: 100px;
}

/*            Responsive Styling                        */

@media screen and (min-width: 315px){
    #welcome {
        padding: 0;
    }
}

@media screen and (max-width: 800px){

    #welcome-container {
        display: flex;
        flex-direction: column;
    }
        
    #firstDiv {
        order: 1;
    }
        
    #secondDiv {
        order: 0;
    }

    .welcome-msg {
        height: 20%;
    }

    .welcomeText{
        padding: 15%;
    }

    .welcome-image {
        height: 500px;

    }
}
@media screen and (min-width: 960px){
    .welcomeText{
    padding: 45% 5% 45% 5%;
    }

    .welcome-msg {
        width: 40%;
    }

    /* .welcome-image {
        height: 300px;

    } */
}

