/*            Re-usable Styling                        */

.center {
    margin: auto;
    width: 50%;
  }

.textAlignCenter {
    text-align: center;
}

/*            Center 2 Divs                       */

.container{
    display: flex;
    margin: 0;
}

.fixed{
    width: 200px;
}
.flex-item{
    flex-grow: 1;
}

/*            Welcome Section Styling                        */ 

#welcome {
    background: rgb(0, 49, 35);
    /* background: #730400;  */
    padding: 5%;
    width: 50%;
}

#welcome, h1{
    font-family: "Dawning of a New Day", cursive;
    font-weight: 400;
    font-style: normal;
    padding: 5%;
}

.welcomeText {
    color: rgb(248, 249, 250);
}

#welcome-container{
    margin: 0; 
    padding: 0;
    max-width: 100%;
}

.welcome-image {
    width: 100%;
    margin: 0%;
    padding: 0%;
    height: 700px;
    object-fit: cover;
}







